<header>
  <!-- Nav écran  -->
  <nav class="navbar-screen">
    <ul>
      <a routerLink="/accueil" routerLinkActive="active"><li>Accueil</li></a>
      <a routerLink="/exploitation" routerLinkActive="active"
        ><li>L'exploitation</li></a
      >
      <a routerLink="/points-de-vente" routerLinkActive="active"
        ><li>Points de vente</li></a
      >
      <a routerLink="/contact" routerLinkActive="active"><li>Contact</li></a>
    </ul>
  </nav>

  <!-- Nav mobile -->
  <div class="pos-f-t navbar-mobile">
    <nav class="navbar navbar-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4">
        <ul>
          <a
            routerLink="/accueil"
            routerLinkActive="active"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            ><li>Accueil</li></a
          >
          <a
            routerLink="/exploitation"
            routerLinkActive="active"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            ><li>L'exploitation</li></a
          >
          <a
            routerLink="/points-de-vente"
            routerLinkActive="active"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            ><li>Points de vente</li></a
          >
          <a
            routerLink="/contact"
            routerLinkActive="active"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            ><li>Contact</li></a
          >
        </ul>
      </div>
    </div>
  </div>
</header>
