<!-- Header navigation -->
<header>
  <div class="header">
    <ul>
      <li><i class="fas fa-user"></i> &nbsp; Baptiste GAILLOT</li>
      <li><i class="fas fa-phone-alt"></i> &nbsp; 06 10 10 10 10</li>
      <li>
        <i class="fas fa-envelope"></i> &nbsp;
        <a href="mailto:contact">email@email.com</a>
      </li>
      <li>
        <i class="fas fa-map-marker-alt"></i> &nbsp;
        <a href="https://google.com" target="blank"
          >100 rue des Légumes, 69150 LégumeVille</a
        >
      </li>
      <!-- <li>
        <i class="fas fa-user"></i> &nbsp;
        {{ contact["name"] }}
        {{ contact["firstname"] }}
      </li>
      <li><i class="fas fa-phone-alt"></i> &nbsp; {{ contact["phone"] }}</li>
      <li>
        <i class="fas fa-envelope"></i> &nbsp;
        <a href="mailto:contact@lesfanedelegumes.fr">{{ contact["email"] }}</a>
      </li>
      <li>
        <i class="fas fa-map-marker-alt"></i> &nbsp;
        <a href="https://goo.gl/maps/ZUVpDuq5QaAyZx5z7" target="blank">{{
          contact["address"]
        }}</a>
      </li> -->
    </ul>
  </div>
</header>
