@import "~bootstrap/scss/bootstrap";

:root {
  font-size: 10px;
  /* Variables */
  --white: white;
  --black: rgb(0, 0, 0);
  --main-green: #73c06b;
  --main-green-transparent: #73c06b71;
  --main-orange: #f5a612;
  --main-orange-transparent: #f5a612cb;
  --purple-touch: #4e1155;
}

body {
  font-size: 1.8rem;
  font-family: "Source Sans", sans-serif;
  overflow-x: hidden;

  h1,
  h2 {
    font-family: "Merriweather", serif;
  }

  h2 {
    font-size: 3rem;
  }
}
