<!-- Photo et titre  -->
<main>
  <section id="home">
    <div>
      <img src="../../assets/img/carotte.svg" alt="logo de carotte test" />
      <h1>Les Fanes de légumes</h1>
      <p>Maraîcher bio à Sublaines</p>
    </div>
  </section>

  <!-- Section de présentation -->
  <section>
    <img
      src="../../assets/img/agriculteur-terre.jpg"
      alt="agriculteur brassant la terre"
    />
    <article>
      <h2>Fruits et légumes bio et de saison</h2>
      <p>
        Les fanes de légumes est une exploitation agricole biologique dans le
        secteur de Sublaines et ses alentours. Nous proposons toute l'année des
        produits de saison locaux, distribués en circuit court.
      </p>
      <div>
        <button class="btn" routerLink="/points-de-vente">
          Les points de vente
        </button>
      </div>
    </article>
  </section>

  <!-- Section parcours perso  -->
  <section>
    <article>
      <h2>Qui suis-je ?</h2>
      <p>
        Je suis né dans la région mais je ne me destinais pas du tout à une
        carrière d'agriculteur. J'ai passé plusieurs années hors du département
        dans un domaine d'activités bien différent et me suis orienté vers le
        maraîchage à la suite de plusieurs prises de consciences personnelles et
        écologiques.
      </p>
      <p>
        Ma reconversion est ainsi le fruit de ma volonté de contribuer à une
        agriculture plus respectueuse de l'environnement et de rendre hommage
        aux terres de ma région. J'ai lancé mon exploitation en 2019, et je
        cultive avec passion dans le respect des normes de l'agriculture
        biologique.
      </p>

      <div>
        <button class="btn" routerLink="/exploitation">
          Découvrir l'exploitation
        </button>
      </div>
    </article>
  </section>

  <!-- Section qui amène les points de vente -->
  <section>
    <img src="../../assets/img/label-bio.webp" alt="" />
    <article>
      <h2>Mes engagements qualité</h2>
      <p>
        L'exploitation a reçu le label agriculture biologique en mars 2021. Tous
        mes produits sont en circuit court afin de limiter l'impact écologique
        de mon activité et garantir la fraîcheur de mes fruits et légumes.
      </p>
      <p>
        Attaché à une agriculture respectueuse de l'environnement, je suis
        toujours à la recherche de la manière la plus saine de produire. Je
        souhaite ainsi proposer des alternatives à l'agriculture intensive,
        partager ma passion, et vous permettre de consommer mieux au fil des
        saisons.
      </p>
    </article>
  </section>
</main>
