<section>
  <article>
    <div id="contact">
      <img src="../../assets/img/carotte.svg" alt="Logo de fane de légumes" />
      <h2>Les fanes de légumes</h2>
      <p>100 rue des Légumes, 69150 LégumeVille</p>
      <p>06 10 10 10 10</p>
      <p><a href="mailto:email@email.com"></a>email@email.com</p>
      <!-- <p>{{ contact["address"] }}</p>
      <p>{{ contact["phone"] }}</p>
      <p>
        <a href="mailto:contact@lesfanesdelegumes.fr">{{ contact["email"] }}</a>
      </p> -->
    </div>
  </article>
  <article>
    <div>
      <img
        src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png"
        alt=""
      />
      <p>Page Facebook</p>
      <p id="fb-title">Les fanes de légumes</p>
    </div>
    <div
      class="fb-page"
      data-href="https://www.facebook.com/Les-fanes-de-l%C3%A9gumes-103451081982849"
      data-tabs="timeline"
      data-width="1000"
      data-height=""
      data-small-header="true"
      data-adapt-container-width="false"
      data-hide-cover="false"
      data-show-facepile="true"
      data-lazy="true"
    >
      <blockquote
        cite="https://www.facebook.com/Les-fanes-de-l%C3%A9gumes-103451081982849"
        class="fb-xfbml-parse-ignore"
      >
        <a
          href="https://www.facebook.com/Les-fanes-de-l%C3%A9gumes-103451081982849"
          target="blank"
          >Les fanes de légumes</a
        >
      </blockquote>
    </div>
  </article>
</section>

<section id="bandeau-contact"></section>

<section>
  <h2>Informations utiles</h2>
  <p><b>Mentions légales</b></p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur est quis,
    voluptates minus animi praesentium illum, cumque recusandae fugit, omnis
    rerum facilis quia asperiores! Maiores alias blanditiis nobis nemo quidem
    excepturi nulla doloribus voluptatibus, animi, magnam placeat laboriosam
    libero! Enim blanditiis quasi minus molestias laborum soluta aliquam
    excepturi nihil modi iusto aut nesciunt provident veritatis eos,
    voluptatibus rerum repudiandae dolores temporibus inventore alias sit
    corporis exercitationem. Voluptas reiciendis sunt voluptatibus voluptates
    laboriosam tempore sed! Sapiente laudantium qui iure excepturi, blanditiis
    libero maiores assumenda ipsa vero quas iusto corrupti quis error odio illum
    soluta? Fugit amet eos illum? Eum, minus doloribus!
  </p>
</section>
